In [1]:
"""
1. enumerate()

    enumerate(iterable, start=0)
"""

fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

"""
    output:
    0 apple
    1 banana
    2 cherry
"""

0 apple
1 banana
2 cherry

'\n    output:\n    0 apple\n    1 banana\n    2 cherry\n'

In [8]:
"""
2. replace()

  string.replace(old, new, count)

"""

text = "Hello world, world is beautiful!"
new_text = text.replace("world", "Earth")
print(new_text)
# Output: "Hello Earth, Earth is beautiful!"

text_2 = "Hello world, world is beautiful!"

# Replacing only the first occurrence
limited_text = text_2.replace("world", "Earth", 1)
print(limited_text)
# Output: "Hello Earth, world is beautiful!"

Hello Earth, Earth is beautiful!
Hello Earth, world is beautiful!

In [9]:
""""
3. strip()

    string.strip(characters)
"""

text = "   Hello World!   "
cleaned_text = text.strip()
print(cleaned_text)
# Output: "Hello World!"

# Removing specific characters
text_with_symbols = "***Hello World!!!***"
cleaned_symbols = text_with_symbols.strip("*!")
print(cleaned_symbols)
# Output: "Hello World"

# Using `lstrip()` and `rstrip()` to remove only from left or right
left_stripped = text.lstrip()
right_stripped = text.rstrip()
print(left_stripped)  # "Hello World!   "
print(right_stripped) # "   Hello World!"

Hello World!
Hello World
Hello World!
   Hello World!

In [10]:
""""
4. using replace and strip together
"""

raw_text = "   Hello, world! world!   "
cleaned_text = raw_text.strip().replace("world", "Earth")
print(cleaned_text)
# Output: "Hello, Earth! Earth!"

Hello, Earth! Earth!

In [16]:
"""
5a. zip()

  zip(iterable1, iterable2, ...)

"""

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

zipped = list(zip(names, ages))
print(zipped)

print(type(zipped[0]))

# using for loop with zip
for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]
<class 'tuple'>
Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

In [17]:
"""

5b.Using zip() with Three or More Iterables

"""

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "Los Angeles", "San Francisco"]

zipped = zip(names, ages, cities)
print(list(zipped))

[('Alice', 25, 'New York'), ('Bob', 30, 'Los Angeles'), ('Charlie', 35, 'San Francisco')]

In [21]:
"""

5c. Unzipping with zip()

"""

zipped_list = [('Alice', 25, 'New York'), ('Bob', 30, 'Los Angeles'), ('Charlie', 35, 'San Francisco')]
names, ages, cities = zip(*zipped_list)

print(names)  # ('Alice', 'Bob', 'Charlie')
print(ages)   # (25, 30, 35)
print(cities) # ('New York', 'Los Angeles', 'Chicago')

('Alice', 'Bob', 'Charlie')
(25, 30, 35)
('New York', 'Los Angeles', 'San Francisco')

In [22]:
"""
5c. Using zip() with dictionaries
"""

student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
names, scores = zip(*student_scores.items())

print(names)   # ('Alice', 'Bob', 'Charlie')
print(scores)  # (85, 90, 78)

('Alice', 'Bob', 'Charlie')
(85, 90, 78)